.parent {
    background: #000000bf;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
}

.modal {
    display: block;
}

.image, .text {
    max-width: 100%;
}

.text {
    word-break: break-word;
}